a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  position: absolute;
  /*
  width: 1964px;
  height: 121px;
  left: -44px;
  top: 75px;
  
  background: #101010;
  */
}

.siteHeader {
  background: #E93C3C;
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

