/* ... Layout (Navbar) ... */

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #333;
}

.navbar-itemList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  border-radius: 1px;
  box-shadow: #111;
}

.navbar-items {
  float: left;
}

.navbar-items a {
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 14px 16px;
  text-decoration: none;

  border: black solid 5px;
  border-radius: 15px;
}

.navbar-items a:hover:not(.active) {
  background-color: #333;
}

#navbar-right {
  float: right;
}

#home-button {
  padding-right: 80px;
  color: white;
  text-align: center;
}

/* Home */
.carousel-homepage {
  padding: 16px 25px;
}

#bannerHome {
  height: 350px;
  position: relative;
}

#bannerHomeImage {
  width: 100%;
  height: 100%;
}

#bannerHomeBtn {
  position: absolute;
  top: 80%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #333;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px
}

/* Eventbox */
.eventTitleBox{
  margin-top: 100px;
  color: white;
  font-size: 50px;
  font-style: bold;
  text-align: center;
  width: 100%;
  height: 15%;
}

.eventBoxes{
  margin-top: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

#eventBox{
  background-color: #333;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  color: white;
  padding: 30px;
}

#eventBox img{
  max-width: 100%;
  max-height: 100%;
}

/* Bestellen */


/* Login */

form {
  border: 3px solid #f1f1f1;
}

h2 {
  padding: 12px 20px;
  font-size: 30px;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  white-space: pre-wrap;
}

.buttonRed {
  background-color: #E93C3C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

button:hover {
  opacity: 0.75;
}


.container {
  padding: 12px 20px;
  padding: 16px;
}

/* Create Voorstelling Form */

.voorstellingForm {
  padding: 5px 50px;
  max-width: 50%;
}

.label-create {
  font-size: 16px;
}

#submitbutton {
  width: 300px;
  border: 0.30px solid black;
  border-radius: 5px;
  font-size: 15px;
}

/* Carousel */

.slick-list,
.slick-slider,
.slick-track {
  position: relative;
  display: block
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
  visibility: hidden
}

.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0
}

.slick-list:focus {
  outline: 0
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slick-track {
  top: 0;
  left: 0
}

.slick-track:after,
.slick-track:before {
  display: table;
  content: ''
}

.slick-track:after {
  clear: both
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

[dir=rtl] .slick-slide {
  float: right
}

.slick-slide img {
  display: block
}

.slick-slide.slick-loading img {
  display: none
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.slick-arrow.slick-hidden {
  display: none
}

/*# sourceMappingURL=slick.min.css.map */

/* Contact  */
textarea {
  width: 100%;
  height: 150px;
}