/* Provide sufficient contrast against white background */
a {
  color: #838373;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #F0D732;
  border-color: #4d4511;
}

body{
  background-color: #FFFAEB;
}

.content {
  margin: 0 auto;
}

.blockContainer {
  box-sizing: border-box;
}


.blockTypeText {
  display: block;
}
.blockTypeImage{
  display: block;
}