/* ... Layout (Navbar) ... */

body{
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E93C3C;
  border-radius: 1px;
  box-shadow: #111;
}

li {
  float: left; 
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 14px 16px;
  text-decoration: none;

  border: #E93C3C solid 5px;
  border-radius: 15px;
}

li a:hover:not(.active) {
  background-color: rgb(153, 136, 136);
}

#navbar-right{
  float: right;
}

#home-button{
  padding-right: 80px;
  color: white;
  text-align: center;
}